.apptitle {
  color: #448DD1;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #C9D5E3;
  height: 100%;
  position: fixed; /* stick, even on scroll */
  overflow: auto; /* scrolling if the sidenav has too much content */
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #448DD1;
  color: white;
}

.menuCurrent {
  background-color: #376BA4;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.menuNotCurrent{
  background-color: #448DD1;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: white;
}

.menuNotCurrentSmall {
  background-color: #C9D5E3;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #376BA4;
}

.nlpCommandAreaCls {
    position:relative;
}

input[type=text] {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px #C9D5E3;
  border-radius: 4px;
  font-family: verdana;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #376BA4;
  border: none;
  color: white;
  padding: 4px 4px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #448dd1;
  border: none;
  color: white;
  padding: 4px 4px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

#nlpCommandArea {
  border-radius: 12px;
  border: 2px solid #376BA4;
  padding: 6px;
  //width: 200px;
  //height: 80px;
  position: absolute;
  background-color: white;
  align: right;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: move;
  z-index: 1000;
  //top: 50px;
  //left: 600px;
  bottom: 20px;
  right: 20px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

#userIdentity {
  color: #559DD8;
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-weight: normal;
}

#mainContentArea{
  position: fixed;
  left: 2.5in;
}

/*---------------------- Clinical Data ----------------------
*/
.clinical-electric-blue {
  font-size: 12px;
  font-weight: bold;
  color: #0018F9;
  display: inline-block;
}

.clinical-emergency-red {
  font-size: 12px;
  font-weight: bold;
  color: #FF0000;
  display: inline-block;
}

.clinical-red {
  font-size: 12px;
  font-weight: bold;
  color: #D30000;
  display: inline-block;
}


/*---------------------- Table styles ----------------------
  Ref: https://www.w3schools.com/css/css_table.asp
*/

table {
  border-collapse: collapse;
  border: 1px solid green;
  padding: 10px;
  width: auto;
}

th {
  height: auto;
  text-align: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  padding: 10px;
  background-color: #376BA4;
  color: white;
}

td {
  height: auto;
  text-align: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  padding: 10px;
}

tr:hover {
  background-color: #559DD8;
}

tr:nth-child(even) {
  background-color: #C9D5E3;
}

div.tablecontainer {
  overflow-x: auto;
}

a {
    text-decoration: none;
    color: inherit;
}