//placeholder for CSS

<!-- https://www.w3schools.com/css/default.asp -->

body {
  background-color: lightblue;
}

h1 {
  color: red;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

<!-- https://www.w3schools.com/css/css_navbar.asp -->
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}